body {
    background-color: gray;
    font-family: Arial;
}

#header_main {
    text-align: center;
}

#footer_main {
    text-align: center;
}

#screen_game {
    background-color: blue;
    height: 500px;
}

#menu {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

}
