body {
    font-family: Arial;
}

#header_main {
    text-align: center;
}

#footer_main {
    text-align: center;
}

#game {
    width: 500px;
    height: 500px;
    background-color: black;
}

#terrain {
    position: relative;
    top: 450px;
    background-color: rgb(149, 150, 150);
    width: 100%;
    height: 50px;
}

#data {
    color: rgb(4, 107, 30);
}

#character {
    position: relative;
    left: 50px;
    top: 50px;
    width: 10px;
    height: 10px;
    background-color: antiquewhite;
}

#menu {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    align-items: center;
    align-self: center;
}
