body {
    font-family: Arial;
    margin: 0px;
}


#container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    background-color: rgb(130, 147, 132);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-screen {
    background-color: rgb(0, 0, 0);
    height: 500px;
    width: 600px;
}




#terrain {
    position: relative;
    top: 450px;
    background-color: gray;
    width: 100%;
    height: 50px;
}

#character {
    position: relative;
    left: 40px;
    top: 40px;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    background-image: url(assets/Lander_engine_off.png);
}

#telemetry-panel {
    background-color: gray;
    height: 50px;
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#speed-panel {
    background-color: #002a16;
    width: 119px;
    height: 40px;
    color: #9dfc51;
    display: flex;
    align-items: center;
    justify-content: center;
}

#fuel-panel {
    background-color: #002a16;
    width: 100px;
    height: 40px;
    color: #9dfc51;
    display: flex;
    align-items: center;    
    justify-content: center;
}

#status-panel {
    background-color: #002a16;
    width: 119px;
    height: 40px;
    color: #9dfc51;
    display: flex;
    align-items: center;
    justify-content: center;
}

#level-panel {
    background-color: #002a16;
    width: 79px;
    height: 40px;
    color: #9dfc51;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 75px;
    columns: 1;
    flex-direction: column;
    color: aliceblue;
    font-size: 40px;
    width: 100%;
    height: fit-content;

}

#buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 100%;
    height: fit-content;
}

/*
#data {
    color: rgb(4, 107, 30);
}

#telemetry-panel {
    background-color: gray;
    width: 500px;
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
}

#telemetry-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #002a16;
    width: fit-content;
    height: 42px;
    color: #9dfc51;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 16px;
}

#status-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002a16;
    width: 120px;
    height: 32px;
    color: #9dfc51;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}

#telemetry-text-speed {
    margin: 0px;
}

#telemetry-text-fuel {
    margin: 0px;
}
*/
